@charset "utf-8";
/* CSS Document - Custom styles that overwrite the template CSS code*/

.iconShape {
  
  font-size:32px;
  display:block !important;
}

  .iconShape i {
    color: #c0c0c0;
  }

.header-primary-banner {
  display: flex;
  /*align-items:flex-end;*/
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 2.5em;
}

.header-primary-banner > * {
  color:white;
  text-align: center;
  /*margin:auto;*/

}
