################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/app/.vs
/app/wwwroot/catemp/css/_notes/dwsync.xml
/app/wwwroot/catemp/images/template2014/oceanside/_notes/dwsync.xml
/app/wwwroot/catemp/images/template2014/orangecounty/_notes/dwsync.xml
/app/wwwroot/catemp/images/template2014/pasorobles/_notes/dwsync.xml
/app/wwwroot/catemp/images/template2014/santabarbara/_notes/dwsync.xml
/app/wwwroot/catemp/images/template2014/sierra/_notes/dwsync.xml
/app/wwwroot/catemp/images/template2014/_notes/dwsync.xml
/app/wwwroot/catemp/images/_notes/dwsync.xml
/app/wwwroot/catemp/js/_notes/dwsync.xml
/app/wwwroot/catemp/ssi/_notes/dwsync.xml
/app/obj
/app/Properties
/app/bin/Debug/netcoreapp2.1
