################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/app/.vs
/app/bin/Debug/netcoreapp2.1
/app/obj
/offline
/.vs
/app/Properties/PublishProfiles
