@{
  ViewData["Title"] = "About";
}
<html class="no-js" lang="en">
<!--<![endif]-->
<!-- Set thet  two-column-->
<body class="primary">


  <div id="main-content" class="main-content">
    <div id="main-content" class="p-a-md">
      <div><p></p></div>
      <div class="rich-text">
        <h3>Mission</h3>
        <p>The California Department of Technology is committed to partnering with state, local government and educational entities to deliver digital services, develop innovative and responsive solutions for business needs, and provide quality assurance for state government Information Technology (IT) projects and services.</p>
        <h3>About</h3>
        <p>The California Fusion system was established July 2018 to provide a platform for Agencies to reach out to citizens.   To enable Agencies to build digital services with and for Californians </p>
      </div>
    </div>

  </div>

</body>

</html>
