@{
  ViewData["Title"] = "Contact";
}



<html class="no-js" lang="en">
<!--<![endif]-->
<!-- Set thet  two-column-->
<body class="primary">


  <div id="main-content" class="main-content">
    <div id="main-content" class="p-a-md">
      <div><p></p></div>
      <div class="rich-text">
        <h3>Contact</h3>
        <p>
          <address>
            One Fusion Way<br />
            Rancho Cordova,  CA<br />
            <abbr title="Phone">Phone:</abbr>
            916.111.1111
          </address>

          <address>
            <strong>Support:</strong> <a href="mailto:Support@fusion.ca.gov">Support@fusion.ca.gov</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@fusion.ca.gov">Marketing@fusion.ca.gov</a>
          </address>
        </p>
      </div>
    </div>
  </div>

</body>

</html>
