@{
  ViewData["Title"] = "Get Involved";
}


<div id="main-content" class="main-content">
    <main class="main-primary" >
        <div class="section section-standout">
            <div class="container">
                <h1>Get Involved</h1>
            </div>
        </div>
        <div class="section section-default">
            <div class="container text-center">
                <div class="row">
                    <div class="half offset-quarter">
                        <h2 class="display">Improve California Services</h2>
                        <i class="ca-gov-icon-favorite color-primary font-size-70x"></i>
                        <i class="ca-gov-icon-favorite color-primary font-size-95x"></i>
                        <i class="ca-gov-icon-favorite color-primary"></i>
                        <i class="ca-gov-icon-favorite color-primary font-size-95x"></i>
                        <i class="ca-gov-icon-favorite color-primary font-size-70x"></i>

                        <p class="lead">
                            Navigating state services can be complicated.
                            The only way we make our services work for you is by working <strong>with</strong> you.
                            Help your state by testing these services.
                           
                        </p>
                    </div>
                   
                </div>
                

            </div>
        </div>
        <div class="section section-primary">
            <div class="row">
                <div class="group">
                    <div class="third">
                        <div class="card card-default">
                            
                            <div class="card-block">
                                <p>Some example text to build on the card title and make up the bulk of the card's content. <a href="">This is a sample link</a></p>

                                <div class="btn btn-default">
                                    Sign up
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="third">
                        <div class="card card-default">

                            <div class="card-block">
                                <p>Some example text to build on the card title and make up the bulk of the card's content. <a href="">This is a sample link</a></p>

                                <div class="btn btn-default">
                                    Sign up
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="third">
                        <div class="card card-default">

                            <div class="card-block">
                                <p>Some example text to build on the card title and make up the bulk of the card's content. <a href="">This is a sample link</a></p>

                                <div class="btn btn-default">
                                    Sign up
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>

</div>