@{
  ViewData["Title"] = "Help";
}
<html class="no-js" lang="en">
<!--<![endif]-->
<!-- Set thet  two-column-->
<body class="primary">


  <div id="main-content" class="main-content">
    <div id="main-content" class="p-a-md">
      <div><p></p></div>
      <div class="rich-text">
        <p>If you are experiencing problems with the California Fusion website, check the following list before contacting the Fusion Webmaster:</p>
        <p class="subheading noBottomSpace"><strong>* Older Version of Browser</strong></p>
        <p class="noTopSpace">You should be using either <a href="http://windows.microsoft.com/internet-explorer/" target="_blank">Microsoft Internet Explorer</a> (IE), version 9 or higher or latest version of <a href="http://www.apple.com/safari/" target="_blank">Apple Safari</a>, <a href="https://www.mozilla.org/firefox" target="_blank">Mozilla Firefox</a> or <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> browser. If you are using an older version of either of these browsers, you will need to upgrade it.</p>
        <p class="subheading noBottomSpace"><strong>* Web Traffic</strong></p>
        <p class="noTopSpace">The DWR website may be experiencing a lot of traffic. Our recommendation: Just be patient and allow complete pages to download before you try clicking any of the links.</p>
        <p class="subheading noBottomSpace"><strong>* Your Internet Service Provider (ISP)</strong></p>
        <p class="noTopSpace">Your ISP may be experiencing a problem. Try to see if you encounter the same problem with another site (see Web Traffic above).</p>
        <p class="subheading noBottomSpace"><strong>* Your Modem</strong></p>
        <p class="noTopSpace">Your modem may be too slow to download our web pages, causing the page to timeout before it is completely loaded. You might want to think about upgrading it, since it is also probably causing you problems accessing the web in general.</p>
        <p class="subheading noBottomSpace"><strong>* Memory</strong></p>
        <p class="noTopSpace">Though our web pages aren't overly large, some do include graphical elements. It is possible your computer does not have enough memory, and you might want to consider additional memory.</p>
        <p class="subheading noBottomSpace"><strong>* PDF Files</strong></p>
        <p class="noTopSpace">If posted PDF files are not in an accessible text based format, please request an accessible version via the <a href="/Contact">Comments and Suggestion</a> page.</p>
        <p>If you still need assistance, contact the Fusion <a href="mailto:webcomments@fusion.ca.gov">Webmaster</a> <noscript> &amp;amp;amp;lt;em&amp;amp;amp;gt;( Email address protected by JavaScript. Please enable JavaScript to see the email address. )&amp;amp;amp;lt;/em&amp;amp;amp;gt; </noscript> .</p>
      </div>
    </div>
  </div>

</body>

</html>
