<div id="main-content" class="main-content">

  <main class="main-primary">

    <div class="section section-standout">
      <div class="container">
        <h1>How it works</h1>
      </div>
    </div>

    </main>
  
    <div class="section">

   
      <section class="section">
        <div class="container">
          <h2>Fusion for Everyone</h2>
          <p>If you're interested in helping make California Online Services better, here's how you can help:</p>
          <div class="group">
            <div class="quarter m-b-lg">
              <!-- Icon Blocks -->
              <div class="text-center">
                <img class="image-icon rounded-50x m-b-md" src="\images\icon-block-talk.png" alt="icon person speaking">
                <h3 class="h4 m-b-sm">User tests</h3>
                <p>Test online at any time, or schedule a test to have a moderator help guide you through.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
            <div class="quarter m-b-lg">
              <!-- Icon Blocks -->
              <div class="text-center">
                <img class="image-icon rounded-50x m-b-md" src="\images\icon-block-mic.png" alt="icon microphone">
                <h3 class="h4 m-b-sm">Recording</h3>
                <p>User tests may be voice and video recorded. Don't worry, we're testing the service, not you.</p>
                <p><span class="ca-gov-icon-info-line" aria-label="icon info"></span> We use <a href="https://lookback.io/">Lookback</a> to record you while you test. Install the free plug-in: <a href="https://play.google.com/store/apps/details?id=io.lookback.participate&hl=en_US">Participate by Lookback</a>.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
            <div class="quarter m-b-lg">
              <!-- Icon Blocks -->
              <div class="text-center">
                <img class="image-icon rounded-50x m-b-md" src="\images\icon-block-transport.png" alt="icon train and car">
                <h3 class="h4 m-b-sm">Community</h3>
                <!-- <p>Community meetups can be scheduled and listed in Fusion</p>-->
                <p>You can schedule a test at one of our facilities, sign-up for a focus group, or attend one of our events.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
            <div class="quarter m-b-lg">
              <!-- Icon Blocks -->
              <div class="text-center">
                <img class="image-icon rounded-50x m-b-md" src="\images\icon-block-idea.png" alt="icon light bulb">
                <h3 class="h4 m-b-sm">New Ideas</h3>
                <p>If you have an idea for a new online service, submit an idea for one of our <a href="#">Digital Innovation Challenges</a>.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
          </div>
        </div> <!-- end container -->
      </section>
      <section class="section section-default">
        <div class="container">
          <h2>Fusion for Agencies</h2>
          <p>Want to improve your online service? Watch real people user your service, and find out how:</p>
          <ol class="display-1">
            <li>Sign up for an <a href="/Agencies/Index">Agency Account</a></li>
            <li>Post a test on Fusion</li>
            <li>Get the results</li>
            <li>Take action!</li>
            <li>Compare other agencies tests and results</li>
          </ol>
         
        </div>
      </section>

  
     </div>
</div>
