@{
  ViewData["Title"] = "HowItWorks";
}
<html class="no-js" lang="en">
<!--<![endif]-->
<!-- Set thet  two-column--> 
<body>

  <div id="main-content" class="main-content">
    <div id="main-content" class="p-a-md">
      <div><p></p></div>
      <div class="rich-text">
          <div class="section section-default">
            <div class="container">
              <div class="group">
                <div class="half ">
                  <div class="detail clearfix content-title">
                    <h2>How It Works - Agencies</h2>
                    <p>Fusion user tests are setup by Agencies and Agencies must register to
                    participate in the Fusion system at <a href="/Agencies/Index">Agency Registration </a>&emsp;
                     Citizen testing can be accessed at <a href="/Home/TestNow">TestNow</a></p>
                    <p></p>
                    <div class="description">
                      <div class="rich-text">
                        <ul>
                          <li>User tests can be online moderated or unmoderated</li>
                          <li>User tests can include voice/video recording feature</li>
                          <li>Community Meetups can be scheduled and listed in Fusion</li>
                          <li>User Ideas can be submitted</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="half ">
                  <div class="detail clearfix content-title">
                    <h2>How It works</h2>
                    <p>Fusion Citizen testing can be done anonymously or via a Fusion Citizen account and
                     Citizen registration in Fusion system at  <a href="/Citizens/Index">Citizen Registration</a></p>

                    <ul>
                      <li>Citizen testing can be accessed at <a href="/Home/TestNow">TestNow</a></li>
                      <li>Citizens can search Agencies Test opportunities on this test page</li>
                      <li>Citizens can search community meetup opportunities on this test page</li>
                      <li>Citizens can search Challenge Idea opportunities on this test page </li>
                  
                              <li>User tests can be online moderated or unmoderated</li>
                              <li>User tests can include voice/video recording feature</li>
                              <li>Community Meetups can be scheduled and listed in Fusion</li>
                              <li>User Ideas can be submitted</li>
                            </ul>
                          </div>
                        </div>
</div>
                  </div>
                </div>
              </div>
            <div>
                </div>
              </div> 
      </div>
  </body>
</html>
