@{
  ViewData["Title"] = "OpenData";
}
<html class="no-js" lang="en">
<!--<![endif]-->
<!-- Set thet  two-column-->
<body class="primary">


  <div id="main-content" class="main-content">
    <div id="main-content" class="p-a-md">
      <div><p></p></div>
      <div class="rich-text">
        <h3>Data.Ca.Gov Surveys </h3>
        <h3>State of California Open Survey Data</h3>
        <p>
          <a href=" https://data.ca.gov/search/type/dataset?query=surveys/">Data.Ca.Gov </a>
        </p>
      </div>
    </div>

  </div>

</body>

</html>
