@{
  ViewData["Title"] = "Test Now";
}


<div id="main-content" class="main-content">
  <main class="main-primary">
    <div class="section section-standout">
      <div class="container">
        <h1>Test Now</h1>
      </div>
    </div>
    <div class="section section-default">
      <div class="container text-center">
        <div class="row">
          <div class="half offset-quarter">
            <h2 class="display">Pick a Test</h2>
            <i class="ca-gov-icon-favorite color-primary font-size-70x"></i>
            <i class="ca-gov-icon-favorite color-primary font-size-95x"></i>
            <i class="ca-gov-icon-favorite color-primary"></i>
            <i class="ca-gov-icon-favorite color-primary font-size-95x"></i>
            <i class="ca-gov-icon-favorite color-primary font-size-70x"></i>

          </div>

        </div>

        <div class="detail clearfix  content">
          <h2>Select any of the available tests links below</h2>
          <div class="description">
            <div class="rich-text">
              <ul class="list-divided">
                <li class="left text-left">  <a href="">Survey only Tests</a> </li>
                <li class="left text-left"> &emsp;&emsp; <a href="/Home/Tests">  Student Aid website with survey </a> </li>
                <li class="left text-left"> &emsp;&emsp; <a href="/Home/Tests3">  Child Welfare website with survey </a> </li>
                <li class="left text-left">  <a href="">Voice and Video Recordable Tests</a> </li>
                <li class="left text-left"> &emsp;&emsp; <a href="https://participate.lookback.io/sfmmvv">  Student Aid Website video test</a> </li>
                <li class="left text-left"> &emsp;&emsp; <a href="https://participate.lookback.io/JFpWhe">  Franchise Tax Board Website video test</a> </li>
                <li class="left text-left"> &emsp;&emsp; <a href="https://participate.lookback.io/dnw9Yx">  Department of Technology Website video test</a> </li>
                <li class="left text-left"> &emsp;&emsp; <a href="https://participate.lookback.io/ieZwSS">  Department of Social Services Website video test</a> </li>
                <li class="left text-left"> &emsp;&emsp; <a href=""> </a> </li>

              </ul>
              <br />
              <br />
              <br />
              <div>
                    <h2>Attend a meeting in your neighborhood. </h2>

                    <ul class="list-divided">
                      <li class="left text-left">  <a href="/Home/Testsmap">Click to view list of scheduled community meetings </a> </li>

                <li>  <h2>Share Ideas that you want to see added to the State of California's Online Digital Services.</h2>
                    <li class="left text-left">
                      <a href="/Home/ChallengeIdea">Click to view Digital Service Challenge detail </a>
                    </li>
                      <li></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
            <div class="row">
              <div class="p-t-sm">
            
              </div>
            </div>

          </div>
   </div>

  </div>


        <div class="section section-primary">
          <div class="container">
            <div class="row">
              <div class="group">
                <div class="half">
                  <div class="card card-default">
                    <div class="card-block">
                      <h3>Get Notified</h3>
                      <p> Enter your info and we'll send you oportunities to help.</p>
                      <a class="btn btn-primary"
                         href="/Home/TesterReg"
                         target="_blank">
                        Sign Up
                      </a>
                    </div>
                  </div>
                </div>
                <div class="half">
                  <div class="card card-default">
                    <div class="card-block">
                      <h3>Create Acct</h3>
                      <p> Track how you've helped and get rewards.</p>
                      <div class="btn btn-primary">
                        Create Account
                      </div>
                    </div>
                  </div>
               </div>
          </div>

      </div>
      </div>
  </div>
              
  </main>

</div>

